<configuration>
	<include resource="com/qx/inf/rpc/config/inf-rpc-logback.xml" />
	<include resource="com/qx/inf/daf/config/inf-daf-logback.xml" />

	<if condition='isNull("LOG_DIR")'>
		<then>
			<if condition='isDefined("APP_HOME")'>
				<then>
					<property name="LOG_DIR" value="${APP_HOME}/log" />
				</then>
				<else>
					<property name="LOG_DIR" value="log" />
				</else>
			</if>
		</then>
	</if>

	<appender name="SSO-SERVER-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/sso-server.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_DIR}/sso-server.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
        <!-- <filter class="ch.qos.logback.core.filter.EvaluatorFilter">  
            <evaluator name="myEval">  
                <expression>message.contains("dao")</expression>  
            </evaluator>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  --> 
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>  
        </layout>  
    </appender> 

	<root level="DEBUG">
		<appender-ref ref="SSO-SERVER-FILE" />
		<appender-ref ref="stdout" />
	</root>

</configuration>